/******************************************************
    REGOLE GENERALI
*******************************************************/

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --links-color: #827EBF;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col-col {
    flex-direction: column;
}

.col-col-reverse {
    flex-direction: column-reverse;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-small {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-xs {
    max-width: 35.5rem;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: #FFF;
    border-radius: 999px;
    color: #000;
    padding: 0.5em 0.8em;
}

.btn__large {
    padding: 0.5em 3em;
}

.btn__blue {
    background-color: var(--blue);
    color: #FFF;
}

.btn__purple {
    background-color: var(--purple);
    color: #FFF;
}

section:nth-child(even) {
    background-color: var(--purple);
}

.card {
    border-radius: 10px;
    padding: 35px 30px 0;
    gap: 2rem;
    height: 100%;
    line-height: 2rem;
}



/* Approccio Mobile-first */

/******************************************************
    HEADER
*******************************************************/

.main-header {
    padding: 1rem 0;
    background-color: var(--blue);
    color: #FFF;
}

.main-header .container.flex {
    justify-content: space-between;
    align-items: center;
}

.main-header .logo__img {
    width: 80px;
}

.main-header .nav__list {
    display: none;
}

.nav__list .flex {
    gap: 30px;
}

.nav__list .flex a:not([class="button"]):hover {
    text-decoration: underline;
}

.main-header .nav__bars {
    cursor: pointer;
    font-size: 1.75rem;
}

/******************************************************
    MAIN
*******************************************************/

/* HERO */
.hero {
    padding: 50px 0 100px;
}

/*.hero .row.grid,*/
.hero .row.flex,
.hero .card__head {
    gap: 25px;
}

.hero .row.flex>* {
    flex-basis: 100%;
}

.hero .card {
    background-color: var(--light-blue);
}

.hero #main__card .card__head {
    align-items: flex-start;
}

.hero .card__icon {
    font-size: 5rem;
}

.hero .card__icon,
.hero .hero-card__title {
    color: var(--blue);
}

.hero .hero-card__title {
    font-size: 1.5rem;
}

.hero .card:not([id="main__card"]) {
    align-items: center;
    text-align: center;
    padding-bottom: 35px;
}

.hero #main__card .card__img {
    justify-content: center;
}

.hero #main__card .card__img img {
    display: block;
    width: 220px;
}

/* Planning */

.planning {
    padding: 70px 0 60px;
}

.planning .row.flex {
    gap: 40px;
}

.planning .row.flex>* {
    flex-basis: 100%;
}

.planning .col.planning__head {
    color: #FFF;
}

.planning .col.planning__head .planning__fig {
    margin-bottom: 95px;
}

.planning .col.planning__head .planning__title {
    margin-bottom: 50px;
}

.planning .planning__title {
    font-size: 1.5rem;
}

.planning .card {
    background-color: #FFF;
    border-radius: 50px;
    padding: 2rem 1.5rem;
    text-align: center;
    gap: 1.5rem;
}

.planning .arrow__down i {
    background-color: var(--purple);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
}

/* TESTIMONIALS */

.testimonials {
    padding: 70px 0 110px;
}

.testimonials .container {
    gap: 40px;
}

.testimonials .container {
    text-align: center;
}

.testimonials .testimonials__title {
    font-size: 1rem;
    font-weight: normal;
}

.testimonials .testimonials__sub-title {
    font-size: 2rem;
    color: var(--purple);
    font-weight: bold;
}

.testimonials .testimonials-card {
    background-color: var(--purple);
    border-radius: 80px;
    padding: 2rem 1.5rem;
    gap: 2rem;
    justify-content: center;
    color: #FFF;
}

.testimonials .testimonials-card__img {
    justify-content: center;
}

.testimonials .testimonials-card>* {
    flex-basis: 100%;
}

.round__img {
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.testimonials .row.col-col {
    gap: 2rem;
}

.testimonials .card__desc {
    line-height: 2rem;
}

.testimonials .testimonials-card__desc {
    display: contents;
}

.testimonials .testimonials-card__desc .card_auth {
    font-weight: bold;
}

/* BENEFITS */

.benefits {
    padding: 4.5rem 0 4.25rem;
}

.benefits .card {
    background-color: #FFF;
    padding: 2rem;
    flex-basis: 100%;
    align-items: flex-start;
}

.benefits .row.flex {
    gap: 2rem;
}

.benefits .benefits__title {
    color: #FFF;
    text-align: center;
    margin-bottom: 4.5rem;
}

.card__title,
.card__sub-title {
    color: var(--purple);
}

.benefits .benefits__title,
.card__title {
    font-size: 2.5rem;
}

.card__sub-title {
    font-size: 1.5rem;
}

/* ABOUT US */

.about-us {
    padding: 100px 0 150px;
}

.about-us .row>* {
    flex-basis: 100%;
    align-items: flex-start;
}

.about-us .row {
    gap: 3.5rem;
}

.about-us .col.about__head {
    gap: 4rem;
    line-height: 2rem;
}

.about-us .col.about__body {
    gap: 1.5rem;

}

/* GET STARTED */

.started {
    padding: 4rem 0;
    color: #FFF;
}

.started .started__title {
    font-size: 1rem;
    opacity: 0.7;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.started .started__sub-title {
    font-size: 1.5rem;
    padding: 0 2.5rem;
}

.started .started__free {
    color: var(--yellow);
    font-size: 2.5rem;
    padding: 3.5rem 0;
}

.started div.flex {
    align-items: center;
    gap: 2.125rem;
}

.started p,
.started ul {
    font-size: 0.75rem;
}

.started .started__paragraph {
    padding: 0 2.5rem;
}


.started .button {
    padding: 1.5rem 5.25rem;
    color: var(--purple);
}

.started ul.flex {
    /* gap: 0.5rem; */
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

.started li:not(:first-child)::before {
    content: '\30FB';
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}

.started li a {
    text-decoration: underline;
}


/******************************************************
    FOOTER
*******************************************************/


/******************************************************
    MEDIA QUERY
*******************************************************/

/* Versione Tablet - medium bootstrap */
@media (min-width: 768px) {

    /* HERO */

    /* SOLUZIONE CON GRID
    .hero .row.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .col-span-2 {
        grid-column: span 2;
    } */

    /* SOLUZIONE CON FLEX + CALC TENENDO CONTO DEL GAP
    .hero .row.flex>* {
        flex-basis: calc((100% - 50px) / 3);
    }

    .hero .col.col-span-2 {
        flex-basis: calc(((100% - 50px) / 3 * 2) + 25px);
    } */

    /* SOLUZIONE CON FLEX BASIS + GROW */
    .hero .row.flex>* {
        flex-basis: 30%;
        flex-grow: 1;
    }

    .hero .col.col-span-2 {
        flex-basis: calc(60% + 12.5px);
        flex-grow: 2;
    }

    .hero {
        padding-bottom: calc(100px - 12.5px);
    }

    /* PLANNING */
    .planning h3.planning__title {
        font-size: 4rem;
    }

    /* TESTIMONIALS */

    .testimonials {
        padding: 4rem 0 7rem;
    }

    .testimonials .testimonials-card>* {
        flex-basis: 0;
        flex-grow: 1;
    }

    .testimonials .testimonials-card {
        align-items: center;
        text-align: left;
    }

    .testimonials .card__desc {
        padding-bottom: 2.25rem;
    }

    .testimonials .testimonials-card__desc {
        display: block;
    }

    /* BENEFITS */
    .benefits .card {
        flex-basis: calc((100% - 2rem) / 2);
    }

    /* ABOUT US */
    .about-us .container {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .about-us .row {
        gap: 6rem;
    }

    .about-us .row>* {
        flex-basis: 0;
        flex-grow: 1;
    }

    /* .about-us .row {
        flex-basis: 200px;
        flex-grow: 1;
    } */

    .about-us .col.about__head {
        flex-basis: 0;
        flex-grow: 1;
    }

    .about-us .col.col.about__body {
        flex-basis: 200px;
        flex-grow: 0;
    }

    /* GET STARTED */
    .started .started__sub-title {
        font-size: 2.75rem;
        padding: 0;
    }

    .started .started__free {
        font-size: 4.25rem;
        padding: 3.5rem 0;
    }

    .started p,
    .started ul {
        font-size: 1rem;
    }
}

/* Versione Desktop - large bootstrap */
@media (min-width: 992px) {

    /* HEADER */
    .main-header .nav__list {
        display: block;
    }

    .main-header .nav__bars {
        display: none;
    }

    /* HERO */
    .hero #main__card {
        flex-direction: row;
    }

    .hero #main__card>* {
        flex-basis: 0;
        flex-grow: 1;
    }

    .hero #main__card .card__img {
        align-self: flex-end;
    }

    /* PLANNING */
    .planning .row.flex>* {
        flex-basis: 0;
        flex-grow: 1;
    }

    .planning h3.planning__title {
        font-size: 3rem;
    }

    .planning .col.planning__head .planning__fig {
        margin-bottom: 8rem;
    }

    .planning .col.flex.planning__dev img {
        width: 250px;
    }

    .planning .col.flex.planning__dev {
        /* flex-direction: column; */
        align-self: flex-end;
    }

    /* TESTIMONIALS */

    /* BENEFITS */
    .benefits .card {
        flex-basis: calc((100% - 4rem) / 3);
    }

    /* ABOUT US */
    .about-us .container {
        padding-right: 5rem;
        padding-left: 5rem;
    }


}

/******************************************************
    TODO: DEBUG
*******************************************************/

.debug section:not([class="hero"]):not([class="planning"]):not([class="testimonials"]):not([class="benefits"]) {
    border: 5px solid black;
    /* padding: 10px; */
}

/* .debug .hero .card {
    border: 3px solid cornflowerblue;
} */