/* Regole Generali */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --links-color: #827EBF;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col-col {
    flex-direction: column;
}

.col-col-reverse {
    flex-direction: column-reverse;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-small {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 2rem;
}

.button {
    background-color: #FFF;
    border-radius: 20px;
    color: #000;
    padding: 0.5em 0.8em;
}

.btn__large {
    padding: 0.5em 3em;
}

.btn__blue {
    background-color: var(--blue);
    color: #FFF;
}

/* Approccio Mobile-first */

/* Header */

.main-header {
    padding: 1rem 0;
    background-color: var(--blue);
    color: #FFF;
}

.main-header .container.flex {
    justify-content: space-between;
    align-items: center;
}

.main-header .logo__img {
    width: 80px;
}

.main-header .nav__list {
    display: none;
}

.nav__list .flex {
    gap: 30px;
}

.nav__list .flex a:not([class="button"]):hover {
    text-decoration: underline;
}

.main-header .nav__bars {
    cursor: pointer;
    font-size: 1.75rem;
}

/******************************************************
    MAIN
*******************************************************/

/* HERO */
.hero {
    padding: 50px 0 100px;
}

.hero .row.grid,
.hero .card__head {
    gap: 25px;
}

.hero .card {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 35px 30px 0;
    gap: 2rem;
    height: 100%;
    line-height: 2rem;
}

.hero #main__card .card__head {
    align-items: flex-start;
}

.hero .card__icon {
    font-size: 5rem;
}

.hero .card__icon,
.hero .card__title {
    color: var(--blue);
}

.hero .card:not([id="main__card"]) {
    align-items: center;
    text-align: center;
    padding-bottom: 35px;
}

.hero #main__card .card__img img {
    display: block;
}




/* Media Query */

/* Versione Tablet - medium bootstrap */
@media (min-width: 768px) {

    /* HERO */
    .hero .row.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .col-span-2 {
        grid-column: span 2;
    }

}

/* Versione Desktop - large bootstrap */
@media (min-width: 992px) {

    /* HEADER */
    .main-header .nav__list {
        display: block;
    }

    .main-header .nav__bars {
        display: none;
    }

    /* HERO */
    .hero #main__card {
        flex-direction: row;
    }

    .hero #main__card>* {
        flex-basis: 0;
        flex-grow: 1;
    }

    .hero #main__card .card__img {
        align-self: flex-end;
    }

}

/* TODO: Debug */

.debug section:not([class="hero"]) {
    border: 5px solid black;
    padding: 10px;
}

/* .debug .hero .card {
    border: 3px solid cornflowerblue;
} */